html .card-img{
width: 200px;
}
html .navbar {
    background-color: #0e5a21;
}

html .nav-link{
    color: #0e0d0d;
}
html .navbar-brand{
    text-size-adjust: 80%;
    font-size: 2.1rem;
}
html body{
    background-color: #0e5a21;
}
html .heart-fav{
    margin-bottom: 5px;
}
